<div class="container">
    <h1 class="text-center">Contract vanzare-cumparare</h1>
    <!--Vanzator-->
    <mat-stepper orientation="horizontal" class="stepper">
        <mat-step [stepControl]="vanzator" label="Vanzator">
            <div class="user-data form-control" name="vanzator">
                <h1 class="text-center">Vanzator</h1>
                <div class="row">
                    <div class="user-data-container col-sm-4">
                        <h2>Date personale</h2>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-sm-2 col-form-label">Full name</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.name" type="text" class="form-control input-control"
                                    placeholder="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputSurname" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.email" type="text" class="form-control input-control"
                                    placeholder="email" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputSurname" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.phone" type="text" class="form-control input-control"
                                    placeholder="phone" />
                            </div>
                        </div>
                        <h2>Date buletin</h2>
                        <div class="mb-3 row">
                            <label for="inputSeries" class="col-sm-2 col-form-label">Seria</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.identityData.series" type="text"
                                    class="form-control input-control" placeholder="serie" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputSeriesNumber" class="col-sm-2 col-form-label">Numar serie</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.identityData.series_number" type="text"
                                    class="form-control input-control" placeholder="numar serie" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCNP" class="col-sm-2 col-form-label">C.N.P.</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.identityData.cnp" type="text"
                                    class="form-control input-control" placeholder="cnp" />
                            </div>
                        </div>
                    </div>

                    <div class="address-container col-sm-4">
                        <h2>Adresa</h2>
                        <div class="mb-3 row">
                            <label for="inputStrada" class="col-sm-2 col-form-label">Strada</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.street_name" type="text"
                                    class="form-control input-control" placeholder="strada">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Nr</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.street_number" type="text"
                                    class="form-control input-control" placeholder="numar strada">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputBloc" class="col-sm-2 col-form-label">Bloc</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.bloc" type="text"
                                    class="form-control input-control" placeholder="bloc">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputScara" class="col-sm-2 col-form-label">Scara</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.scara" type="text"
                                    class="form-control input-control" placeholder="scara">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCod" class="col-sm-2 col-form-label">Etaj</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.etaj" type="text"
                                    class="form-control input-control" placeholder="etaj">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputApartment" class="col-sm-2 col-form-label">Apartament</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.apartment" type="text"
                                    class="form-control input-control" placeholder="apartament">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputJudet" class="col-sm-2 col-form-label">Judet</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.judet" type="text"
                                    class="form-control input-control" placeholder="judet">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCod" class="col-sm-2 col-form-label">Oras</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.oras" type="text"
                                    class="form-control input-control" placeholder="oras">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputTara" class="col-sm-2 col-form-label">Tara</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.tara" type="text"
                                    class="form-control input-control" placeholder="tara">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCod" class="col-sm-2 col-form-label">Cod Postal</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.address.cod_postal" type="text"
                                    class="form-control input-control" placeholder="cod postal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <button class="btn mat-button" matStepperNext>Next</button>
            </div>
        </mat-step>
        <!--Cumparator-->
        <mat-step [stepControl]="cumparator" label="Cumparator">
            <div class="user-data form-control" name="cumparator">
                <h1 class="text-center">Cumparator</h1>
                <div class="row">
                    <div class="user-data-container col-sm-4">
                        <h2>Date personale</h2>
                        <div class="mb-3 row">
                            <label for="inputName" class="col-sm-2 col-form-label">Full name</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.name" type="text" class="form-control input-control"
                                    placeholder="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.email" type="text" class="form-control input-control"
                                    placeholder="email" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.phone" type="text" class="form-control input-control"
                                    placeholder="phone" />
                            </div>
                        </div>
                        <h2>Date buletin</h2>
                        <div class="mb-3 row">
                            <label for="inputSeries" class="col-sm-2 col-form-label">Seria</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.identityData.series" type="text"
                                    class="form-control input-control" placeholder="serie" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputSeriesNumber" class="col-sm-2 col-form-label">Numar serie</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.identityData.series_number" type="text"
                                    class="form-control input-control" placeholder="numar serie" />
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCNP" class="col-sm-2 col-form-label">C.N.P.</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.identityData.cnp" type="text"
                                    class="form-control input-control" placeholder="cnp" />
                            </div>
                        </div>
                    </div>

                    <div class="address-container col-sm-4">
                        <h2>Adresa</h2>
                        <div class="mb-3 row">
                            <label for="inputStrada" class="col-sm-2 col-form-label">Strada</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.street_name" type="text"
                                    class="form-control input-control" placeholder="strada">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Nr</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.street_number" type="text"
                                    class="form-control input-control" placeholder="numar strada">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputBloc" class="col-sm-2 col-form-label">Bloc</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.bloc" type="text"
                                    class="form-control input-control" placeholder="bloc">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputScara" class="col-sm-2 col-form-label">Scara</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.scara" type="text"
                                    class="form-control input-control" placeholder="scara">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEtaj" class="col-sm-2 col-form-label">Etaj</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.etaj" type="text"
                                    class="form-control input-control" placeholder="etaj">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputApartment" class="col-sm-2 col-form-label">Apartament</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.apartment" type="text"
                                    class="form-control input-control" placeholder="apartament">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputJudet" class="col-sm-2 col-form-label">Judet</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.judet" type="text"
                                    class="form-control input-control" placeholder="judet">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputOras" class="col-sm-2 col-form-label">Oras</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.oras" type="text"
                                    class="form-control input-control" placeholder="oras">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputTara" class="col-sm-2 col-form-label">Tara</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.tara" type="text"
                                    class="form-control input-control" placeholder="tara">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCod" class="col-sm-2 col-form-label">Cod Postal</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="cumparator.address.cod_postal" type="text"
                                    class="form-control input-control" placeholder="cod postal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <button class="btn mat-button" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="vanzator.masina" label="Masina">
            <div class="car-data form-control" name="masina">
                <h1 class="text-center">Masina</h1>
                <div class="row">
                    <div class="user-data-container col-sm-4">
                        <h2>Date masina</h2>
                        <div class="mb-3 row">
                            <label for="inputMarca" class="col-sm-2 col-form-label">Marca masina</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.brand" type="text"
                                    class="form-control input-control car-input" placeholder="marca masina">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputType" class="col-sm-2 col-form-label">Tip masina</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.type" type="text"
                                    class="form-control input-control car-input" placeholder="tip masina">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputIdenticationNumber" class="col-sm-2 col-form-label">Numar de
                                identificare</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.identification_number" type="text"
                                    class="form-control input-control car-input" placeholder="numar de identificare">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEngineSeries" class="col-sm-2 col-form-label">Serie motor</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.engine_series" type="text"
                                    class="form-control input-control car-input" placeholder="serie motor">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEngineCapacity" class="col-sm-2 col-form-label">Capacitate cilindrica
                                motor(cm3)</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.engine_capacity" type="text"
                                    class="form-control input-control car-input" placeholder="capacitate cilindrica motor">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputMaxWeight" class="col-sm-2 col-form-label">Greutate maxima
                                admisa(kg)</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.max_weight" type="text"
                                    class="form-control input-control car-input" placeholder="greutate maxima admisa">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputRegistrationNumber" class="col-sm-2 col-form-label">Numar de
                                inmatriculare</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.registration_number" type="text"
                                    class="form-control input-control car-input" placeholder="numar de inmatriculare">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputItpExpiration" class="col-sm-2 col-form-label">Data expirarii i.t.p</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.itp_expiration_date" lang="ro" type="date"
                                    class="form-control input-control car-input" placeholder="data expirarii i.t.p">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCardNumber" class="col-sm-2 col-form-label">Numarul de pe cartea
                                masinii</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.identity_card_number" type="text"
                                    class="form-control input-control car-input" placeholder="numarul cartii masinii">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputManufactureYear" class="col-sm-2 col-form-label">Anul de fabricatie</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.manufacture_year" type="text"
                                    class="form-control input-control car-input" placeholder="anul de fabricatie al masinii">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputEuroNorma" class="col-sm-2 col-form-label">Norma euro</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.euro_norma" type="text"
                                    class="form-control input-control car-input" placeholder="norma euro">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputAcquisitionDate" class="col-sm-2 col-form-label">Data achizitionarii
                                masinii</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.acquisition_date" lang="ro" type="date"
                                    class="form-control input-control car-input" placeholder="data achizitionare masina">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputAcquisitionDeed" class="col-sm-2 col-form-label">Actul de dobandire
                                masina</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.acquisition_act" type="text"
                                    class="form-control input-control car-input" placeholder="actul de dobandire al masinii">
                            </div>
                        </div>
                    </div>

                    <div class="address-container col-sm-4">
                        <h2>Pret masina</h2>
                        <div class="mb-3 row">
                            <label for="inputLettersPrice" class="col-sm-2 col-form-label">Pret in litere</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.price_in_letters" type="text"
                                    class="form-control input-control" placeholder="pret in litere">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputNumbersPrice" class="col-sm-2 col-form-label">Pret in cifre</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="vanzator.car.price_in_numbers" type="text"
                                    class="form-control input-control" placeholder="pret in cifre">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="document-checks">
                <mat-checkbox class="fiscal-check" [(ngModel)]="checkedFiscal" (change)="checkFiscal()">Doresc fiscal pentru acest contract.</mat-checkbox>
                <mat-checkbox class="mail-check" [(ngModel)]="checkedMail" (change)="checkMail()">Doresc sa primesc contractul generat pe mail.</mat-checkbox>
            </div>
            <div class="button" *ngIf="!isLoggedIn">
                <a routerLink="payment"><button class="btn mat-button" (click)="sendContractDetails()">Generate</button></a>
            </div>
            <div class="button" *ngIf="isLoggedIn">
                <button class="btn mat-button" (click)="sendContractDetails()">Generate</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>