.card{
    border-radius: 20px;
}

.logo {
    background: #fff;
    transition: all 0.5s;
    margin-top: 1%;
    padding: 10px 0;
    top: 20;
  }
.logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
.logo a {
    color: #111;
    text-decoration: underline;
  }
.logo a span {
    color: #1bbd36;
  }
.logo img {
    max-height: 40px;
  }