<div class="container">
    <div class="user-data">
        <h1 class="text-center">Detalii progres cereri</h1>
        <mat-accordion>
            <mat-form-field class="search-bar">
                <input matInput [(ngModel)]="searchedOperation" placeholder="Search...">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="service-progress" *ngFor="let operation of operationsList | filter:searchedOperation">
                <mat-expansion-panel hideToggle (click)="getOperationOptionProgress(operation)">
                    <mat-expansion-panel-header (click)="setOperation(operation)">
                        <div class="user-name col-sm-4">
                            <mat-panel-title>
                                {{operation.name}}
                            </mat-panel-title>
                        </div>
                        <div class="user-name col-sm-4">
                            <mat-panel-description>
                                {{operation.progress}}
                            </mat-panel-description>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="row user-data-container" *ngFor="let option of operation.options">
                        <div class="user-name col-sm-3"
                            *ngIf="option.progress == 'In asteptare'; else ngTemplate">
                            <li><a (click)="selectOption(option)">{{option.type}}</a></li>
                        </div>
                        <ng-template #ngTemplate>
                            <div class="user-name col-sm-3">
                                <li>{{option.type}}</li>
                            </div>
                        </ng-template>
                        <div class="col-sm-3">
                            <mat-label class="btn details-button" (click)="openDialogForNecessaryDocsDetails(option)">Acte necesare</mat-label>
                        </div>
                        <div class="col-sm-3">
                            {{option.progress}}
                        </div>
                        <div class="col-sm-3" *ngIf="option.progress == 'Complete' && option.type == 'Contract vanzare-cumparare'" (click)="downloadDoc(operation)">
                            <button class="btn download-btn">Descarca</button>
                        </div>
                        <div class="col-sm-3" *ngIf="option.progress == 'Complete' && option.type == 'Fiscal'" (click)="downloadFiscalDoc(operation)">
                            <button class="btn download-btn">Descarca</button>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</div>
