<div class="container">
    <div class="user-data">
        <h1 class="text-center">Detalii progres cereri</h1>
        <mat-accordion>
            <div class="search-box">
                <button class="btn-search"><i class="fa fa-search"></i></button>
                <input type="text" class="input-search" [(ngModel)]="searchedOperation" placeholder="Search...">
              </div>
            <div class="service-progress" *ngFor="let operation of operationsList | filter:searchedOperation">
                <mat-expansion-panel hideToggle (click)="getOperationOptionProgress(operation)">
                    <mat-expansion-panel-header>
                        <div class="user-name col-sm-4">
                            <mat-panel-title>
                                {{operation.name}}
                            </mat-panel-title>
                        </div>
                        <div class="user-name col-sm-4">
                            <mat-panel-description>
                                {{operation.progress}}
                            </mat-panel-description>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="row user-data-container" *ngFor="let option of operation.options">
                        <div class="user-name col-sm-3"
                            *ngIf="option.type == 'Contract vanzare-cumparare' && option.progress == 'In asteptare'; else ngTemplate">
                            <li><a routerLink="contract" (click)="selectOperation(operation)">{{option.type}}</a></li>
                        </div>
                        <ng-template #ngTemplate>
                            <div class="user-name col-sm-3">
                                <li>{{option.type}}</li>
                            </div>
                        </ng-template>
                        <div class="col-sm-3">
                            <mat-label class="btn details-button" (click)="openDialog(option)">Acte necesare</mat-label>
                        </div>
                        <div class="col-sm-3">
                            {{option.progress}}
                        </div>
                        <div class="col-sm-3" *ngIf="option.progress == 'Complete'" (click)="downloadDoc()">
                            <button class="btn download-btn">Descarca</button>
                        </div>
                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
</div>