.container
{
    margin-bottom: 80px;
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
}

.container h1
{
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
}

.container .mat-button
{
  background-color: #8ebf42;
  position: absolute;
  color: white;
  left: 43%;
  margin-top: 10px;
  width: 200px;
  border-radius: 10px;
    
}

.button:hover {
    opacity: 0.8;
}

.services-list{
    list-style: none;
}

.user-data .service-progress{
    border-bottom: 2px solid gainsboro
}

.details-button:hover{
    text-decoration: underline;
}

.user-data-container{
    border-bottom: 2px solid black;
}

.download-btn{
    width: 100px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.download-btn:hover{
    background-color: var(--primary-color);
    color:white;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--primary-color);
    padding-right: 40px;
    color:black;
}

.input-search::placeholder{
    color: black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:black ;
    background-color:transparent;
    pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
  