<main id="main">
  <div class="registration-title">
    <ng-template #ngTemplate>
      <input type="file" class="file-input" (change)="uploadDocument($event)" multiple #fileUpload />
      <button mat-button (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        Incarca document
      </button>
    </ng-template>
    <div class="container">
      <div class="numere" *ngIf="option != null">
        <h2>{{option.type}}</h2>
        <h4>Completarea contractului de vanzare-cumparare si cerere fiscal: </h4><br>
        <div *ngIf="completedContract != null">
          <button mat-button disabled="true">Contractul {{completedContract.contract_name}} a fost completat.</button>
          <button mat-button (click)="downloadDoc(operation)">Descarca</button>
        </div>
        <div *ngIf="completedContract == null">
          <button mat-button routerLink="contract">Completeaza contract</button>
        </div>
        <h4>Acte necesare pentru validarea contractului si primire fiscal:</h4>
        <ul *ngFor="let optionNecessaryDocument of optionNecessaryDocumentsList">
          <li *ngIf="isDocUploadedList[optionNecessaryDocument.id] == ''"
            (click)="getSelectedDocumentId(optionNecessaryDocument)">
            {{optionNecessaryDocument.description}}
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li *ngIf="isDocUploadedList[optionNecessaryDocument.id] != ''">
            {{optionNecessaryDocument.description}}
            <br>
            <button mat-button>Documentul {{isDocUploadedList[optionNecessaryDocument.id]}} a fost
              incarcat.</button>
          </li>
        </ul>
        <h4 *ngIf="fiscalOption">{{fiscalOption.type}} pentru contractul de vanzare-cumparare</h4>
        <li *ngIf="fiscalOption">{{fiscalOption.progress}} pentru verificarea contractului. Fiscalul va aparea odata ce
          va fi solutionat</li>

        <h4>{{option.type}} plati si taxe:</h4>
        <ul *ngFor="let taxes of optionRegistrationTaxes">
          <li>{{taxes}}
            <a mat-button href="#">Plateste aici</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
