<main id="main">
  <div class="registration-title" >
    <div class="container">
      <h2>Schimbare de certificat</h2>
          <ul>
            <h4>Acte necesare</h4>
            <li>Cererea solicitantului - <a mat-button href="#">Completeaza cererea</a></li>
            <li>Fisa de inmatriculare vizata de organul fiscal competent teritorial, in cazul schimbarii domiciliului
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a>
            </li>
            <li>Cartea de identitate a vehiculului original si copie
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a>
            </li>
            <li>Actul de identitate al solicitantului, in original si copie
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a>
            </li>
            <li>Dovada achitarii taxei certificatului de inmatriculare
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a>
            </li>
            <li>In cazul persoanelor juridice vor fi depuse documentele care sa ateste dobandirea personalitatii juridice,
              denumirea si sediul, in copie (de exemplu certificat inregistrare la Registrul Comertului),
              precum si imputernicirea reprezentantului legal al acestora
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a></li>
            <li>Procura speciala autentificata de notarul public, in cazul in care
              documentele se depun de o alta persoana decat titularul.
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a></li>
            <li>Certificatul de inmatriculare in original
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a>
            </li>
            <li>Copia contractului RCA in termenul de valabilitate
              <a mat-button href="#">Ataseaza documentul<mat-icon>attach_file</mat-icon></a>
            </li>
          </ul>
          <ul>
            <h4>Taxe schimbare de certificat</h4>
            <li>Plata taxei pentru certificatul de inmatriculare - 37 lei <a mat-button href="#">Plateste aici</a></li>
          </ul>
          </div>
        </div>
</main>
