<mat-toolbar class="fixed-top">
    <h1 class="logo me-auto"><a routerLink="home" (click)="goToAnchor('hero')"><span>Acte</span>auto</a></h1>
  <div class="operation-progress" *ngIf="isLoggedIn()">
    <button mat-button class="btn btn-operation-progress" (click)="seeOperations()">Istoric vanzari.</button>
    <button mat-button class="btn btn-operation-progress" (click)="startOperation()">Incepe o vanzare.</button>
  </div>
  <span class="example-spacer"></span>
  <div class="navbar-links">
    <a mat-button class="matButton" (click)="goToAnchor('hero')">Home</a>
    <a mat-button class="matButton" (click)="goToPage('information-guide')">Informations guide</a>
    <a mat-button class="matButton" (click)="goToAnchor('pricing')">Pricing</a>
    <a mat-button class="matButton" (click)="goToAnchor('about')">About</a>
    <a mat-button class="matButton" (click)="goToAnchor('contact')">Contact</a>
    <div class="header-login" *ngIf="!isLoggedIn()">
      <a mat-button class="matButton" *ngIf="!isLoggedIn()" routerLink="login">LogIn</a>
    </div>
    <div class="header-login">
      <button mat-button class="matButton" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn()">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="mat-menu">
        <button mat-menu-item class="matButton" (click)="goToPage('user-profile')">
          <mat-icon>account_circle</mat-icon>My Profile
        </button>
        <button mat-menu-item class="matButton">
          <mat-icon>settings</mat-icon>Account Settings
        </button>
        <button mat-menu-item class="matButton">
          <mat-icon>help</mat-icon>Need Help?
        </button>
        <button mat-menu-item class="matButton" (click)="logOut()">
          <mat-icon>logout</mat-icon>Sign Out
        </button>
      </mat-menu>
    </div>


  </div>

</mat-toolbar>
