#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  bottom: 20;
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
#header .logo a {
  color: #111;
}
#header .logo a span {
  color: #009961;
}
#header .logo img {
  max-height: 40px;
}

.header-login {
  margin-left: 20px;
  border-left: 1px solid #c4c4c4;
}
.header-login a {
  color: #a0a0a0;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  padding-left: 20px;
}
.header-login a i {
  line-height: 0;
}
.header-login a:hover {
  color: #1bbd36;
}
@media (max-width: 280px) {
  .header-login {
    padding: 0 15px 0 0;
    border-left: 0;
  }
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #111;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active-link, .navbar .active:focus, .navbar li:hover > a {
  color: #009961 !important;
  text-decoration: underline;
}

.navbar .login-link{
  display: flex-end;
  border-left: 1px solid;
}

.login-link{
  border-left: 1px solid;
}

.container{
  margin-right: 4%;
}

.btn{ 
  border-radius: 20px;
  background-color: #e7e6e6;
  margin-left: 30%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: -1%;
  border-radius: 20px;
}

.dropdown-content a {
  margin-top: 5%;
  margin-bottom: 5%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover 
{
  background-color: #ddd;
  border-radius: 20px;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-item:hover {
  background-color: #f6f9ff;
}

.user-name{
  margin-left: 10%;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
  text-decoration: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #1977cc;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.operation-progress{
  margin-left: 25%;
  width: 400px;
}

.btn-operation-progress{
  margin-left: 0%;
  text-align: center;
  background-color: var(--primary-color);
}

.btn-operation-progress:hover{
  color: white;
}

.navbar .dropdown a{
  text-decoration: none;
  cursor: pointer;
}

.navbar .nav-item{
  cursor: pointer;
}


