.container
{
    margin-bottom: 80px;
    margin-top: 5%;
}

.container h1
{
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
}

.container .mat-button
{
  background-color: var(--primary-color);
  position: absolute;
  color: white;
  left: 40%;
  margin-top: 20px;
  width: 200px;
  border-radius: 10px;
    
}

.button:hover {
    opacity: 0.8;
}

.services-list{
    list-style: none;
}

.user-data .service-progress{
    border-bottom: 2px solid gainsboro
}

.details-button:hover{
    text-decoration: underline;
}

.mat-step{
    pointer-events: none !important;
}

.form-group label{
    margin-bottom: 1%;
}

.form-group input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    width: 30%;
}

.form-group{
    margin-bottom: 2%;
}

.form-group h4{
    margin-top: 3%;
}
