/* @keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  animation: fadeInAnimation ease-in-out 1.5s;
  animation-fill-mode: forwards;
} */

.main{
  height: 100%;
}

.registration-title h2 {
  text-align: center;
  padding: 10px 0;
  color: black;
  margin-top: 6%;
  text-decoration: none;
  border-bottom: 2px solid var(--primary-color);
  white-space: nowrap;
}

h3{
  margin-top: 2%;
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

h4{
  margin-top: 2%;
  font-weight: bold;
  font-size: 20px;
}

li{
  margin-top: 1%;
  font-size: 15px;
}

button{
  display: block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 3%;
}

.file-input {
	display: none;
}

