<main id="main">
  <div class="registration-title">
    <ng-template #ngTemplate>
      <input type="file" class="file-input" (change)="uploadDocument($event)" multiple #fileUpload />
      <button mat-button color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        Incarca document
      </button>
    </ng-template>
    <div class="container">
      <h2>Inmatriculare masina</h2>
      <div *ngFor="let registrationOption of registrationOptionsList">
        <button mat-button #registrationBtn (click)="saveRegistrationOptionForOperation(registrationOption.type)"
        *ngIf="!isSelected">{{registrationOption.type}}</button>
      </div>
      <div class="numere_rosii" *ngIf="registrationOption == 'numere-rosii'">
        <h3>Numere rosii</h3>
        <ul>
          <h4>Acte necesare</h4>
          <li>Dovada prin care se atesta ca ai asigurarea obligatorie.
            Poti sa optezi pentru o asigurare pe o luna in vederea inmatricularii
            sau pentru o perioada mai mare de timp (3 luni, 6 luni, 1 an). Aceasta trebuie sa fie
            facuta pe numele persoanei care vrea sa faca inmatricularea.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>

          <li>Cerere numere provizorii, ce se face din partea noului proprietar.
            Pe cerere se scrie in clar ca se doresc numere rosii si pe ce perioada.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Copie dupa actul de proprietate. In aceasta faza, actul nu trebuie tradus, ci doar prezentat in copie.
            Pentru schimbare proprietar auto, vei avea nevoie fie de contractul de vanzare-cumparare, fie de factura
            de achizitie.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Copie dupa cartea de identitate a masinii. In functie de ghiseul la care te vei prezenta,
            este posibil sa iti ceara sa prezinti si originalul, asa ca este bine sa il ai la tine.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Dovada ca ai achitat taxele de autorizatia de circulatie provizorie.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Actul de identitate a proprietarului in copie si original.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
        </ul>
        <ul>
          <h4>Taxe numere rosii</h4>
          <li>Taxa ce reprezinta contravaloarea autorizatiei de functionare provizorie de 13 lei.
            <a mat-button href="#">Plateste aici</a>
          </li>
          <li>Taxa de autorizatie numerele rosii pe 3 luni este de 39 lei. <a mat-button href="#">Plateste aici</a></li>
          <li>Taxa numere rosii - 40 lei <a mat-button href="#">Plateste aici</a></li>
        </ul>
      </div>
      <div class="numere_negre" *ngIf="registrationOption == 'numere-negre' && isSelected">
        <h3>Numere negre</h3>
        <ul>
          <h4>Acte necesare</h4>
          <li>Cerere de inmatriculare -
            <a mat-button href="#">Completeaza cererea</a>
            <a mat-button download="model_contract" href="../../../assets/model_cerere.docx">Descarca cerere</a>
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Fisa de inmatriculare vizata la circa financiara de care apartine proprietarul
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Certificatul de inmatriculare a fostului proprietar, in caz ca ai cumparat masina second hand, in
            original,
            iar ITP-ul trebuie sa fie in termen de valabilitate;
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Cartea de identitate a autovehicului (original si copie simpla)
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Actul de identitate al solicitantului (original si copie simpla)
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Copie dupa asigurarea RCA valabila
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Daca vehiculul este adus din strainatate, ai nevoie si de Certificatul de Autenticitate, ce il vei obtine
            de la RAR.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Chitanta care atesta plata certificatului de inmatriculare.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Dovada platii pentru placutele de inmatriculare
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Procura notariala, in cazul in care actele nu sunt depuse de titular
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>In cazul in care masina este adusa din afara tarii, ai nevoie si de documentul de inmatriculare din tara
            respectiva,
            de placutele de tranzit sau de dovada ca vehiculul a intrat pe platforma in tara.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Dovada ca a fost achitat TVA-ul pentru persoanele fizice sau pentru firmele ce nu sunt platitoare de TVA,
            daca masina este din afara tarii, dar din spatiul UE.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>In cazul persoanelor juridice, mai este nevoie si de documentele care atesta dobandirea personalitatii
            juridice, denumirea si sediul, in copie simpla, precum si imputernicirea pentru reprezentantul legal al
            acestora.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
        </ul>
        <ul>
          <h4>Taxe numere negre</h4>
          <li>
            Daca ai nevoie de dovada de la RAR, va fi necesar sa achiti o taxa de 539 lei pentru masini mici.
            <a mat-button href="#">Plateste aici</a>
          </li>
          <li>Plata certificatului de inmatriculare (37 de lei)
            <a mat-button href="#">Plateste aici</a>
          </li>
          <li>Plata pentru placutele de inmatriculare (40 de lei/aleatoriu sau 85 de lei/la alegere)
            <a mat-button href="#">Plateste aici</a>
          </li>
        </ul>
      </div>
      <div class="numere_verzi" *ngIf="registrationOption == 'numere-verzi'">
        <h3>Numere verzi</h3>
        <ul>
          <h4>Acte necesare</h4>
          <li>Cerere de inmatriculare <a mat-button href="#">Completeaza cererea</a></li>
          <li>Fisa de inmatriculare vizata la circa financiara de care apartine proprietarul
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Certificatul de inmatriculare a fostului proprietar, in caz ca ai cumparat masina second hand, in
            original,
            iar ITP-ul trebuie sa fie in termen de valabilitate;
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Cartea de identitate a autovehicului (original si copie simpla)
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Actul de identitate al solicitantului (original si copie simpla)
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Copie dupa asigurarea RCA valabila
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Daca vehiculul este adus din strainatate, ai nevoie si de Certificatul de Autenticitate, ce il vei obtine
            de la RAR.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Chitanta care atesta plata certificatului de inmatriculare.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Dovada platii pentru placutele de inmatriculare
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Procura notariala, in cazul in care actele nu sunt depuse de titular
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>In cazul in care masina este adusa din afara tarii, ai nevoie si de documentul de inmatriculare din tara
            respectiva,
            de placutele de tranzit sau de dovada ca vehiculul a intrat pe platforma in tara;
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>Dovada ca a fost achitat TVA-ul pentru persoanele fizice sau pentru firmele ce nu sunt platitoare de TVA,
            daca masina este din afara tarii, dar din spatiul UE
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
          <li>In cazul persoanelor juridice, mai este nevoie si de documentele care atesta dobandirea personalitatii
            juridice, denumirea si sediul, in copie simpla, precum si imputernicirea pentru reprezentantul legal al
            acestora.
            <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
          </li>
        </ul>
        <ul>
          <h4>Taxe numere verzi</h4>
          <li>Daca ai nevoie de dovada de la RAR, va fi necesar sa achiti o taxa de 539 lei pentru masini mici.
            <a mat-button href="#">Plateste aici</a>
          </li>
          <li>Plata certificatului de inmatriculare (37 de lei)
            <a mat-button href="#">Plateste aici</a>
          </li>
          <li>Plata pentru placutele de inmatriculare (40 de lei/aleatoriu sau 85 de lei/la alegere)
            <a mat-button href="#">Plateste aici</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
