<main id="main">
  <div class="registration-title">
    <ng-template #ngTemplate>
      <input type="file" class="file-input" (change)="uploadDocument($event)" multiple #fileUpload />
      <button mat-button (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
        Incarca document
      </button>
    </ng-template>
    <div class="container">
      <h2>Inmatriculare masina</h2>
      <div *ngFor="let registrationOption of registrationOptionsList">
        <button mat-button #registrationBtn (click)="saveRegistrationOptionForOperation(registrationOption)"
          *ngIf="!isSelected">{{registrationOption.type}}</button>
      </div>
      <div class="numere" *ngIf="registrationOption != null && isSelected">
        <h3>{{registrationOption.type}}</h3>
        <h4>Acte necesare pentru acest dosar:</h4>
        <ul *ngFor="let registrationNecessaryDocument of optionRegistrationNecessaryDocumentsList">
            <li *ngIf="isDocUploadedList[registrationNecessaryDocument.id] == ''"
            (click)="getSelectedDocumentId(registrationNecessaryDocument)">
              {{registrationNecessaryDocument.description}}
              <ng-template *ngTemplateOutlet="ngTemplate"></ng-template>
            </li>
            <li *ngIf="isDocUploadedList[registrationNecessaryDocument.id] != ''">
              {{registrationNecessaryDocument.description}}
              <br>
              <button mat-button>Documentul {{isDocUploadedList[registrationNecessaryDocument.id]}} a fost incarcat.</button>
            </li>
        </ul>
        <h4>{{registrationOption.type}} plati si taxe:</h4>
        <ul *ngFor="let taxes of optionRegistrationTaxes">
          <li>{{taxes}}
            <a mat-button href="#">Plateste aici</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
