<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>About Us</h2>
            <p>Acest site este facut pentru a va ajuta in vanzare/cumpararea si inmatricularea unei masini fara a fi 
                nevoi sa va deplasati.</p>
        </div>
    </div>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2 img" data-aos="fade-left" data-aos-delay="100">
                    <img src="../../../assets/img/about.jpg" class="img-fluid" >
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Aici puteti gasi lista completa cu acte</h3>
                    <p class="fst-italic">
                        Toate actele de care aveti nevoie pentru
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Vanzarea unei masini.</li>
                        <li><i class="bi bi-check-circle"></i> Cumpararea unei masini.</li>
                        <li><i class="bi bi-check-circle"></i> Inmatricularea unei masini</li>
                    </ul>
                    <p>
                       Totul la un click distanta.Incearca sa vezi.Poate iti place.
                    </p>

                </div>
            </div>

        </div>
    </section>
</main>