section {
    padding: 60px 0;
    margin: 0;
    overflow: hidden;
  }
  
.section-bg {
    background-color: #f6f7f6;
  }
  
.section-title {
    padding-bottom: 40px;
}
.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: var(--primary-color);
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
  }
  
.breadcrumbs {
    text-align: center;
    background: #009961;
    padding: 30px 0;
    color: #fff;
    border-radius: 20px;
  }
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 63px;
    }
  }
.breadcrumbs h2 {
    font-size: 32px;
    font-weight: 500;
  }
.breadcrumbs p {
    font-size: 14px;
    margin-bottom: 0;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    padding-bottom: 10px;
  }
  .about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--primary-color);
  }
  @media (max-width: 768px) {
    .about .content .learn-more-btn {
      margin: 0 48px 0 0;
      padding: 6px 18px;
    }
  }
  
img{
    align-items: stretch;
    border-radius: 20px;
}