<mat-sidenav-container>
  <mat-sidenav mode="side" opened>

    <img class="avatar mat-elevation-z8" />

    <h4 class="name">{{currentUser.name}}</h4>
    <h3 class="operations-number">Numar vanzari: {{userAllowedOperations}}</h3>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="goToHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <a routerLink="profile"><button mat-button class="menu-button" >
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button></a>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>