@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.banner
{
    background-image: url('../../../assets/img/bannerimg.jpg');
    margin-top: 5%;
    height: 600px;
    background-size: cover;
    background-position:50% 50%;
    animation: fadeInAnimation ease-in-out 1.5s;
    animation-fill-mode: forwards;
    
}

.content
{
    top: 30%;
    left: 20%;
    position: absolute;
}

.content h1
{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.content a
{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 5px;
}

.content a:hover
{
    background-color: var(--primary-color);
    color: #fff;
}

.stepBox
{
    background-color: #000;
    padding: 20px 5px;
    border-radius: 20px;
    text-align: center;
}

.stepBox h1
{
    font-size: 25px;
    color: var(--primary-color);
}

.stepBox img
{
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

.about-us .container{
    margin-top: 5%;
}

.about-us .content h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .about-us .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  .about-us .content ul {
    list-style: none;
    padding: 0;
  }
  .about-us .content ul li {
    padding: 10px 0 0 28px;
    position: relative;
  }
  .about-us .content ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #1bbd36;
  }
  .about-us .content p:last-child {
    margin-bottom: 0;
  }