<div class="container mt-5 mb-5">
    <h1 class="text-center">Acte necesare vanzarii</h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <a routerLink="contract">
                <div class="stepBox">
                    <h1>Contract vanzare-cumparare</h1>
                    <img src="../../../assets/img/contract.jpg" />
                </div>
            </a>
        </div>
        <div class="col-lg-4 mt-2">
            <a href="https://www.anaf.ro/anaf/internet/ANAF/servicii_online/programari_online/#_">
                <div class="stepBox">
                    <h1>Fiscal</h1>
                    <img src="../../../assets/img/fiscal.jpg" />
                </div>
            </a>
        </div>
        <div class="col-lg-4 mt-2">
            <a routerLink="">
                <div class="stepBox">
                    <h1>Inmatriculare</h1>
                    <img src="../../../assets/img/inmatriculari.jpg" />
                </div>
            </a>
        </div>
    </div>


    

                       